.carousel {
  background-image: url("/images/pinos.jpg")  !important;
  padding: 50px 16px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  z-index: 2;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 0;
  margin-bottom: 0;
}

.carousel__title {
  font-size: 35px;
  padding: 15px;
}

.carousel__viewport {
  position: relative;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(860px, 100%);
  margin: 0 auto;
}

.carousel__card {
  position: absolute;
  width: 350px;
  height: 450px;
  border-radius: 24px;
  overflow: hidden;
  background: #111;
  transition:
    transform 500ms cubic-bezier(.22,.61,.36,1),
    opacity 300ms ease;

  box-shadow: 0 30px 80px rgba(0,0,0,.6);
}

.carousel__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel__card h3 {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 6px 20px rgba(0,0,0,.6);
}

/* CONTROLES */
.carousel__controls {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.carousel__controls button {
  width: 44px;
  height: 44px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.541);
  transition: background 200ms ease, transform 200ms ease;
  
}

.carousel__controls button:hover {
  background: rgba(255, 255, 255, 0.397);
  transform: translateY(-2px);
}

/* MOBILE */
@media (max-width: 600px) {
  .carousel__viewport {
    height: 360px;
  }

  .carousel__card {
    width: 240px;
    height: 360px;
  }
}
